main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 600px;
    justify-content: center;
    gap: 5px 0;
}

label, p {
    font-size: 18px;
}

.valor-invalido {
    color: #FF0000;
}

.sem-multa {
    color: #00BFFF;
}