body { 
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 600px;
    justify-content: center;
    gap: 5px 0;
    
}

#conteudo {
    background-color: #E0FFFF;
    padding: 30px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #5F9EA0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrada {
    padding: 5px 10px;
}

#botao {
    padding: 10px 20px;
}

label, p {
    font-size: 18px;
}

.valor-invalido, .com-multa {
    color: #FF0000;
}

.sem-multa {
    color: #00BFFF;
}